<div class="change-profile">
  <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), local: true, method: :patch do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
    <div class="field">
      <label class="label">Nickname</label>
      <div class="control has-icons-left has-icons-right">
        <%= f.text_field :nickname, autofocus: true, placeholder: "ニックネーム", class: "input is-info" %>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "input is-info" %>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "input is-info" %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Password Confirmation</label>
      <div class="control has-icons-left has-icons-right">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワードの確認", class: "input is-info" %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="field is-grouped is-grouped-right">
      <%= f.submit "変更する", class: "button is-info" %>
    </div>
  <% end %>
</div>