<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <%= image_tag "profile.png", class: "round-img" %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= @user.nickname %></p>
        <p class="subtitle is-6">SampleBio</p>
      </div>
      <div class="media-right">
        <% if @user == current_user %>
          <%= link_to "プロフィールを編集", edit_user_registration_path, class: "button is-info" %>
        <% else %>
          <% if user_signed_in? && current_user != @user %>
            <% if current_user.active_relationships.exists?(target_user_id: @user.id) %>
              <%= link_to 'フォロー解除', [@user, :follow], method: :delete, class: "button is-info" %>
            <% else %>
              <%= link_to 'フォローする', [@user, :follow], method: :post, class: "button is-info" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <%= link_to 'フォロー',  [@user, :followings], class: "card-footer-item" %>
    <%= link_to 'フォロワー',  [@user, :followers], class: "card-footer-item" %>
    <%= link_to [@user, :nices], class: "card-footer-item" do %>
      <i class="far fa-star unnice-btn"></i>
    <% end %>
  </footer>
</div>

<h3>User Post</h3>

<% @user.posts.reverse_each do |post| %> <%# reverse_eachで新しい投稿から取得する %>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <%= link_to(post_path(post)) do %>
          <%= image_tag post.image.variant(resize: '500x500'), class: "card-img-top" if post.image.attached? %>
        <% end %>
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <%= post.text %>
        <%post.tags.each do |tag| %>
          #<%=tag.name%>
        <% end %>

        <time>
          <%= time_ago_in_words(post.created_at).upcase %>
        </time>
      </div>
    </div>
  </div>
<% end %>

<%= render 'partial/postbtn' %>