<header class="page-header wrapper">

  <h1>
    <% if user_signed_in? %>
      <%= link_to timeline_posts_path do %>
        <%= image_tag "logo.png", class: "logo" %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <%= image_tag "logo.png", class: "logo" %>
      <% end %>
    <% end %>
  </h1>

  <%= form_with(url: search_pages_path, local: true, method: :get, class: "field has-addons") do |form| %>
    <%= form.text_field :keyword, placeholder: "作品を検索する", class: "input" %>
    <%= form.submit "検索", class: "button is-info" %>
  <% end %>

  <nav>
    <% if user_signed_in? %>
      <ul class="main-nav">
        <li><%= link_to 'タイムライン', timeline_posts_path, method: :get %></li>
        <li><%= link_to '作品一覧', posts_path, method: :get %></li>
        <li><%= link_to "マイページ", user_path(current_user) %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class="main-nav">
        <li><%= link_to '作品一覧', posts_path, method: :get %></li>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      </ul>
    <% end %>
  </nav>
  <div id="hamburger">
    <span></span>
  </div>
</header>
