<header class="navbar">
  <div class="navbar-brand">
    <span class="navbar-item">
      <span class="fas fa-umbrella"></span>
      <% if user_signed_in? %>
        <%= link_to "Sprinkler", user_path(current_user) %>
      <% else %>
        <%= link_to "Sprinkler", new_user_session_path %>
      <% end %>
    </span>
    <div class="navbar-item">
      <div class="field has-addons">
        <%= form_with(url: search_pages_path, local: true, method: :get, class: "input") do |form| %>
          <%= form.text_field :keyword, placeholder: "作品を検索する" %>
          <%= form.submit "検索", class: "button is-info" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="navbar-end">
    <% if user_signed_in? %>
      <div class="navbar-item">
        <div class="columns">
          <div class="column">
            <%= link_to "作品を投稿する", new_post_path, class: "button" %>
            <%= link_to "マイページ", user_path(current_user) %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="navbar-item">
        <div class="columns">
          <div class="column">
            <%= link_to '新規登録', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
            <%= link_to '画像一覧', posts_path, method: :get %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</header>
