<header class="navbar">
  <div class="navbar-brand">
    <span class="navbar-item">
      <span class="fas fa-umbrella"></span>Sprinkler
    </span>
    <div class="navbar-item">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" name="search" placeholder="作品を検索">
        </div>
        <div class="control">
          <a class="button is-info"><i class="fa fa-search"></i>検索</a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-end">
    <% if user_signed_in? %>
      <div class="navbar-item">
        <div class="columns">
          <div class="columns">
            <%= link_to "作品を投稿する", new_post_path, class: "button" %>
            <%= link_to "マイページ", user_path(current_user) %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="navbar-item">
        <div class="columns">
          <div class="column">
            <%= link_to '新規登録', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</header>
