<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
        <%= image_tag @post.image.variant(resize: '1080x1080'), class: "card-img-top" if @post.image.attached? %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <%= link_to user_path(@post.user) do %>
            <%= image_tag "profile.png" %>
          <% end %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">
          <%= link_to user_path(@post.user),　title: @post.user.nickname do %>
            <strong><%= @post.user.nickname %></strong>
          <% end %>
        </p>
        <p class="subtitle is-6"><%= @post.text %></p>
      </div>
      <div class="media-right">
        <% if user_signed_in? %>
          <% if @post.user_id == current_user.id %>
            <%= link_to post_path(@post), method: :delete, class: "trash" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="content">
      <div id="nices_buttons_<%= @post.id %>">
        <%= render partial: 'nices/nice', locals: { post: @post} %>
      </div>
      <%@post.tags.each do |tag| %>
        #<%=tag.name%>
      <% end %>
      <br>
      <time>
        <%= time_ago_in_words(@post.created_at).upcase %>
      </time>
      <p>
        <h6>コメント一覧(コメントには新規登録/ログインが必須)</h6>
      </p>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.comment %>
          <% if user_signed_in? %>
            <% if comment.user_id == current_user.id %>
              <%= link_to [@post, comment], method: :delete, class: "trash" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>

    <div class="field">
      <% if user_signed_in? %>
        <label class="label">Message</label>
        <%= form_with(model: [@post, @comment], local: true) do |f| %>
          <div class="control">
            <%= f.text_field :comment, placeholder: "コメントする", class: "input is-rounded" %>
          </div>
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <%= f.submit "送信", class: "button is-info"%>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'partial/footer' %>