<h3>TimeLine</h3>

<% @posts.each do |post| %>
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <%= link_to user_path(post.user) do %>
              <%= image_tag "profile.png" %>
            <% end %>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">
            <%= link_to user_path(post.user),　title: post.user.nickname do %>
              <strong><%= post.user.nickname %></strong>
            <% end %>
          </p>
          <p class="subtitle is-6"><%= post.text %></p>
        </div>
        <div class="media-right">
          <% if post.user_id == current_user.id %>
            <%= link_to post_path(post), method: :delete, class: "trash" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-image">
      <figure class="image is-4by3">
        <%= link_to(post_path(post)) do %>
          <%= image_tag post.image.variant(resize: '500x500'), class: "card-img-top" if post.image.attached? %>
        <% end %>
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <div id="nices_buttons_<%= post.id %>">
          <%= render partial: 'nices/nice', locals: { post: post} %>
        </div>
        <% post.tags.each do |tag| %>
           #<%=tag.name%>
        <% end %>
        <br>
        <time>
          <%= time_ago_in_words(post.created_at).upcase %>
        </time>
      </div>
    </div>
  </div>
<% end %>

<%= render 'partial/postbtn' %>